<h1>Login</h1>
<form [formGroup]="FormLoginUser" (submit)="onSubmit()">
  <div>
    <label for="email">E-mail</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="FormLoginUser.controls.email.touched && FormLoginUser.controls.email.errors">
       
      <p *ngIf="FormLoginUser.controls.email.hasError('required')">
          Informe o seu e-mail
        </p>
        
        <p *ngIf="FormLoginUser.controls.email.hasError('email')">
          Informe um e-mail válido
        </p>
        
        <p *ngIf="FormLoginUser.controls.email.hasError('minlength')">
          O e-mail deve ter no mínimo 8 digitos
        </p>
        
        <p *ngIf="FormLoginUser.controls.email.hasError('maxlength')">
          O e-mail deve ter no máximo 100 digitos
        </p>

    </div>
  </div>
  <div>
    <label for="senha">Senha</label>
    <input type="password" id="senha" formControlName="senha">
    <div *ngIf="FormLoginUser.controls.senha.touched && FormLoginUser.controls.senha.errors">
      
      <p *ngIf="FormLoginUser.controls.senha.hasError('required')">
        O campo senha deve ser informado
      </p>
      
      <p *ngIf="FormLoginUser.controls.senha.hasError('minlength')">
        O senha deve ter no mínimo 6 digitos
      </p>

      <p *ngIf="FormLoginUser.controls.senha.hasError('maxlength')">
        A senha deve ter no máximo 20 digitos
      </p>

  </div>
  </div>
  <div>
    <button 
      type="submit"
      [disabled]="FormLoginUser.invalid"
    >
      Logar
    </button>
  </div>
</form>
